<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>OutFitters</title>
  <link rel="stylesheet" href="/static/styles/style-outfits.css">
  <script src="https://kit.fontawesome.com/aa5bdb4c90.js" crossorigin="anonymous"></script>
</head>
<body>

  <!--Empieza seccion de head -->

  <section class="head"> 
    <div class="prendas"> 
      <a class="link-paginas" href="{{ url_for('index') }}"> 
        <h1> Prendas </h1>
      </a>  
    </div>
    <div class="outfits">
      <h1> OutFits </h1>
    </div>
  </section>

  <!--Termina seccion de head -->

  <!--Boton de crear outfit -->

  <div class="boton-crear"> 
    <button id="openModalBtn" class="boton">
      + Nuevo OutFit
    </button>
  </div>

  <!--Fotos outfits -->

  <div class="container">

  </div>
  
</body>
</html>