/* Estilos para el botón */




/* Estilos para la ventana emergente (modal) */
.modal {
  display: none; /* Oculta el modal por defecto */
  position: fixed;
  z-index: 1; /* Asegura que el modal esté en el frente */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); /* Color de fondo oscuro */
  background-color: rgba(0,0,0,0.4); /* Color de fondo oscuro con opacidad */
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding-top: 10px;
  padding-bottom: 35px;
  padding: 10px;
  border: 1px solid #888;
  width: 80%; /* Ajusta el ancho del modal */
  max-width: 600px; /* Ajusta el ancho máximo del modal */
  text-align: center;
}

.nombre-de-prenda{
  font-size: 36px;
  margin: 10px;
  margin-bottom:60px;
}

.info-prenda{
  margin-bottom: 50px;
}

.boton-subir-prenda{
  font-size: 17px;
  font-weight: bold;
  width: 170px;
  background-color: rgb(186, 224, 211);
  border: none;
  padding: 8px;
  border-radius: 20px;
  margin: 0;
}

/* Estilos para el botón de cerrar */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fa-solid.fa-arrow-pointer{
  width: 500px;
}